{% extends "base.html" %}
{% block content %}

<script src="/static/js/moment-with-locales.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css" rel="stylesheet">

    <p>
        <b>This is the city of atherton's permit application.</b>
    </p>


    <div class="container-fluid">
        <form method="post">
            <div class="row input-group" id="operator_name_div">
                <span class="input-group-addon">Operator Name</span>
                <input type="text" class="form-control form-group" id="operator_name_textbox">
            </div>
            <div class="row input-group" id="operator_email_div">
                <span class="input-group-addon">Email</span>
                <input type="text" class="form-control form-group" id="operator_email_textbox">
            </div>
            <div class="row input-group" id="uav_make_div">
                <span class="input-group-addon">UAV Make</span>
                <input type="text" class="form-control form-group" id="uav_make_textbox">
            </div>
            <div class="row input-group" id="uav_model_div">
                <span class="input-group-addon">UAV Model</span>
                <input type="text" class="form-control form-group" id="uav_model_textbox">
            </div>
            <div class="row input-group date" id="event_date_id">
                <span class="input-group-addon">When will the flight occur:</span>
                <input type="text" class="form-control form-group"/>
                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
            </div>
            <div class="row input-group" id="flight_description_div">
                <span class="input-group-addon">
                    Description of proposed flight activity:
                </span>
                <input type="text" class="form-control form-group" id="flight_description_textbox"/>
            </div>
            <div class="row input-group">
                <input type="submit" class="btn-success">
            </div>
        </form>
    </div>

<script type="text/javascript">
            $(function () {
                $('#event_date_id').datetimepicker({
                 format: 'MM/DD/YYYY'
                });
            });
</script>

{%endblock%}