{% extends "base.html" %} 
{% block content %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASBZjekNgPNptbrw-KJCP9syPYVe8EtL0&v=3.exp&libraries=places"></script>
<script src="/static/js/add_location.js" type="text/javascript"></script>
<script src="/static/js/generic_google_map.js" type="text/javascript"></script>
<script src="/static/js/polygon_handling.js" type="text/javascript"></script>
<link href="/static/css/generic_google_map.css" rel="stylesheet">

<script>
    google.maps.event.addDomListener(window, 'load', add_location_map);
</script>

<div class="row">
    <div class="col-md-12">
        <h4>Find your location by either using the search bar or navigating to the location
            using the map controls.  Once you have found your location place markers on the
            map outlining the location by clicking on the map.  Once all of your markers are
            set close the polygon and save.
        </h4>
    </div>
</div>
<form class="form-inline text-center" role="form">
    <div class="form-group">
        <input type="text" placeholder="Site Name" class="form-control"
               id="sight_name_location_id" name="sight_name_location_name">
        <button type="button" class="btn btn-md btn-success"
                onclick="saveLocation();">Save Location</button>
        <button type="button" class="btn btn-md btn-primary"
                onclick="closePolygon();">Close Polygon</button>
        <button type="button" class="btn btn-md btn-danger"
                onclick="resetAllVariables();">Clear Markers</button>
        <button type="button" class="btn btn-md btn-danger"
                onclick="removeLastVariable();">Remove Last Marker</button>
    </div>
</form>
<div class="container-fluid">
    <div class="row">
        <input id="pac-input" class="controls" type="text" placeholder="Search Box">
        <div id="map-container" class="col-md-12"></div>
    </div>
</div>


{%endblock%}