{% extends "base.html" %} 
{% block content %}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASBZjekNgPNptbrw-KJCP9syPYVe8EtL0&v=3.exp&libraries=places"></script>
<script src="/static/js/generic_google_map.js" type="text/javascript"></script>
<script src="/static/js/polygon_handling.js" type="text/javascript"></script>
<script src="/static/js/landing_zone.js" type="text/javascript"></script>
<link href="/static/css/generic_google_map.css" rel="stylesheet">

<script src="/static/js/moment-with-locales.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css" rel="stylesheet">


<script>

    var lat;
    var lng;
    {% if lz['lat'] %} lat = {{lz['lat']}} {% endif %}
    {% if lz['lng'] %} lng = {{lz['lng']}} {% endif %}
    google.maps.event.addDomListener(window, 'load', initialize_add_lz_map);
</script>

    <div class="container-fluid">
        <div class="row">

            <!-- start left side input area -->
            <div class="col-md-4">

                <!-- start create date time picker area -->
                <div class="row input-group date" id='start_time_id' name="start_time_name">
                    <span class="input-group-addon">Start Time</span>
                    <input type='text' class="form-control form-group"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar">
                        </span>
                    </span>
                </div>

                <script type="text/javascript">
                        $(function () {
                            {% if lz['start_time'] %}
                                var month = {{lz['start_time']['month']}};
                                month = month.toString();
                                if (month.length < 2) {
                                    month = '0' + month;
                                }
                                var day = {{lz['start_time']['day']}};
                                day = day.toString();
                                if (day.length < 2){
                                    day = '0' + day;
                                }
                                var year = {{lz['start_time']['year']}};
                                year = year.toString();
                                var hour = {{lz['start_time']['hour']}};
                                hour = hour.toString();
                                if (hour.length < 2){
                                    hour = '0' + hour;
                                }
                                var minute = {{lz['start_time']['minute']}};
                                minute = minute.toString();
                                if (minute.length < 2){
                                    minute = '0' + minute;
                                }
                                var time_string = year + '-' + month + '-' + day + 'T' + hour + ':' + minute + ':00.000Z';
                                $('#start_time_id').datetimepicker({
                                    defaultDate: moment(time_string)
                                });
                            {% else %}
                                $('#start_time_id').datetimepicker();
                            {% endif %}
                        });
                    </script>
                <!-- end date time picker area -->

                <br>

                <!-- start duration area -->
                <div class="row input-group">
                    <span class="input-group-addon">Duration</span>
                    <input type="text" class="form-control form-group" id="duration_id"
                        name="duration_name" value="{% if lz %}{{lz['duration']}}{% endif %}">
                    <span class="input-group-addon">Minutes</span>
                </div>
                <!-- end duration area -->

                <br>

                <!-- start radius area -->
                <div class="row input-group">
                    <span class="input-group-addon">Radius</span>
                    <input type="text" class="form-control form-group" id="radius_id"
                        name="duration_name" value="{% if lz %}{{lz['radius']}}{% endif %}">
                    <span class="input-group-addon">Miles</span>
                </div>
                <!-- end radius area -->

                <br>

                <!-- start warning text area -->
                <div class="row">
                    <label for="warning_area_id" class="col-md-12 control-label">Warning Text</label>
                    <textarea class="form-control" rows="3" id="warning_area_id" name="warning_area_name"
                            >{% if lz %}{{lz['warning_text']}}{% endif %}</textarea>
                </div>
                <!-- end warning text area -->

                <br>

                <!-- start button area -->
                <div class="row">
                    <form class="form-inline text-center" role="form">
                        <div class="form-group col-md-12">
                            <button type="button" class="btn btn-sm btn-success small_text_btn"
                                    onclick="saveLandingZone();">Save Landing Zone</button>
                            <button type="button" class="btn btn-sm btn-danger small_text_btn"
                                    onclick="resetAllVariables();">Clear Marker</button>
                            <input type="checkbox" id="sms_id" name="sms_name"> Send SMS
                        </div>
                    </form>
                </div>
                <!-- end button area -->

            </div>
            <!-- end left side area -->

            <!--start map box area -->
            <input id="pac-input" class="controls" type="text" placeholder="Search Box">
            <div id="map-container" class="col-md-8"></div>
            <!-- end map box area -->

        </div>
    </div>


{%endblock%}