{% extends "base.html" %}
{% block content %}

<script src="/static/js/moment-with-locales.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css" rel="stylesheet">

<!--<div class="container-fluid">
    <form method="post">
        <div>
            Hello User, please fill out the form.
        </div>

        <div class="row input-group" id="airspace_container_div">
            <select class="airspace_ID">
                <option value="">Select airspace zone</option>
                <option value="atherton">Atherton</option>
                <option value="menlo">Menlo</option>
            </select>
        </div>

        <div class="row input-group" id="phone_number_div">
            <span class="input-group-addon">Phone Number</span>
            <input type="number" class="form-control form-group" id="phone_number_textbox"
                   placeholder="Enter Phone Number">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
<br>--->

<div class="page-header"><h2>Apply for a Permit</h2></div>

<form method="post">
        <p>Phone number: <input type="number" name="phone_number" /></p>
        <p>Where do you want to fly?:</p>
        <select name="zone_city" multiple size="4">
            <option value="atherton">Atherton</option>
            <option value="menlo_park">Menlo Park</option>
            <option value="santa_clara">Santa Clara</option>
            <option value="san_jose">San Jose</option>
        </select>
        <p><input type="submit" class="btn-success"/></p>
</form>

{%endblock%}


